# Storage and Distribution

AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_REGION=
S3_BUCKET_NAME=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY=

# Rate Limit and Bot Protection
ARCJET_API_KEY=

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database (Drizzle / Postgres)
DATABASE_URL=postgresql://user:password@localhost:5432/snappit

# Better Auth & Google OAuth
BETTER_AUTH_SECRET=your_super_secret_string
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret